#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --onboot=off --ipv6=auto --no-activate
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$ufdSoClR7xy8qQVX$RV/JvsCeiNp8ozElnZNJIshXQG/afjsWG1FZdkMNVQy1fwd4G3ecYZwwbY6QrHEsaZI1UtvwBCKm.YDAlSphz/
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
user --name=hadoop --password=$6$9GajXcztgOkRCDs/$G/ZLkRLoGjAXQyfp./5aAgMIn/SqbxUCEj8qoC/8.1wWejEZtRIjFCFAkbkHxqxi4a6hUteHDwltNs5.e8u470 --iscrypted --gecos="hadoop"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel
reboot

%packages
@^minimal
@core
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post
echo "
/usr/libexec/iptables/iptables.init stop
systemctl disable NetworkManager.service
systemctl enable network.service
" >> /etc/rc.local
%end
